
.career{
    padding-top: 30px;
    font-size: 28px;
    font-weight: 300;
    text-align: center;
    margin-top: 30px;
}
.wrapper {
    margin: 0px;
    width: 100%;
}
.skills{
    font-size: 16px;
    font-weight: 300;
    border-radius: 22px;
    padding-top: 7px;
    padding-bottom: 7px;
    padding-left: 18px;
    padding-right: 18px;
    margin: 3px;
    transition: 0.5s;
    transition-timing-function: ease-in-out;

}    
.skills:hover{
    cursor: pointer;
}
@media screen and (max-width: 800px){
    .skills{
        font-size: 14px;
        margin: 3px;
    }
}

.pic-container{
    height: 65vh;
    width: 50%;
    margin: auto;
    justify-content: center;
    margin-top: 222px;
}
.name-svg{
    width: 70%;
}
.skills-container{
    display: flex;
    width: 90%;
    flex-wrap: wrap;
    margin: auto;
    justify-content: center;
    margin-bottom: 150px;
}
.about-me {
    display: flex;
    flex-direction: column;
    height: 200vh;
    width: 100%;
    margin: auto;
    border-radius: 4px;
}
.grid-container {
    display: grid;
    grid-template-columns: auto auto;
    padding: 10px;

  }
  .parallax-container {
    position: relative;
    width: 100%;
    overflow-x: hidden;
    overflow-y: scroll;
    perspective: 8px;
    perspective-origin: 0%;
    display: flex;
  }
@media screen and (max-width: 800px){
    .career{
        padding: 20px;
        font-size: 22px;
    }
    .pic{
    display: none;
    }
    .pic-container{
        height: 55vh;
        width: 95%;
        margin: auto;
        justify-content: center;
        margin-top: 300px;
    }
}

