
.career{
    padding-top: 30px;
    font-size: 22px;
    text-align: center;
    margin-top: 30px;
}
.wrapper {
    margin: 0px;
    width: 100%;
}
.pic-container{
    height: 100vh;
    width: 50%;
    margin: auto;
    justify-content: center;
    margin-top: 222px;
}
.name-svg{
    width: 70%;
}
.about-me {
    display: flex;
    flex-direction: column;
    height: 200vh;
    width: 100%;
    margin: auto;
    border-radius: 4px;
}
.grid-container {
    display: grid;
    grid-template-columns: auto auto;
    padding: 10px;

  }
  .parallax-container {
    position: relative;
    width: 100%;
    overflow-x: hidden;
    overflow-y: scroll;
    perspective: 8px;
    perspective-origin: 0%;
    display: flex;
  }
@media screen and (max-width: 800px){
    .career{
        padding: 20px;
        font-size: 22px;
    }
    .pic{
    display: none;
    }
    .pic-container{
        height: 700px;
        width: 90%;
        margin: auto;
        justify-content: center;
        margin-top: 300px;
    }
}

