
.ui.grid>.row {
    padding-top: 0px;
    padding-bottom: 0px;
    margin-top: 0px;
}
.ui[class*="vertically divided"].grid>.row>.column {
    margin-top: 0px;
    margin-bottom: 0px;
}
.text-name{
    font-size: 37px;
    font-weight: 300;
    text-align: center;
    margin: 90px;
    font-family: 'Courier New', Courier, monospace;
}
.pic{
margin: 3em;
}

.my-title {
    display: flex;
    flex-direction: column;
    width: 100%;
    padding: 50px;
}

.title-section{
    background-color: rgba(104, 173, 192, 0.452);
    font-size: 27px;
    line-height: 33px;
    width: 88%;
    font-weight: 200;
    margin-top: 30px;
    padding-left: 50px;
    padding: 50px;
    margin: auto;
    border-radius: 8px;
}
.card-title{
    width: 100%;
    padding: 30px;
}
.card-section{
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    padding: 20px;
    justify-content: center;
}
.section {
    width: 100%;
}
@media screen and (max-width: 800px){
    .title-section {
        padding-left: 0px;
        line-height: 27px;
        font-size:16px;
        padding: 20px;
        width: 100%;
    }
    .my-title{
        padding: 15px;
    }
    .text-name{
    font-size: 27px;
    padding: 15px;
    }
    .pic{
    margin: 0px;
}
}
@media screen and (max-width: 380px){
    .intro {
        top: 68px;
        font-size: 18px;
        left: -10px;
    }
    .name{
        width: 100px;
        padding-top: 25px;
    }
    .ui.grid>.row {
        padding-top: 14px;
    }
}
@media screen and (max-width: 420px){
    .intro {
        top: 58px;
        font-size: 18px;
        left: -20px;
    }
    .name{
        width: 100px;
        height: 90px;
        padding-top: 25px;
    }
    .ui.grid>.row {
        padding-top: 14px;
    }
}