.path {
    stroke-dasharray: 1000;
    stroke-dashoffset: 1000;
    color: #555;
    animation: dash 15s linear infinite;
  }
  
  @keyframes dash {
    from {
      stroke-dashoffset: 922;
    }
    to {
      stroke-dashoffset: 0;
    }
  }