.contact-box{
    font-size: 22px;
    line-height: 55px;
    margin: auto;
    font-weight: 300;
    margin-bottom: 100px;
    width: 47%;
    text-align: center;
    padding-top: 200px;
    padding-bottom: 77px;
}
.smile{
    width: 20px;
}

input{
    width: 100%;
    margin-top: 30px;
    border-radius: 4px;
    padding: 12px;
    background-color: rgb(248, 248, 248);
    outline: none;
    border: none;
}

.box {
    margin-bottom: 200px;
}

form {
    width: 100%;
}

.submit{
    width: 70px;
    height: 40px;
    padding: 10px;
    background-color: white;
    color: black;
    border: none;
}
.submit:hover {
    background-color: black;
    color: white;
}

.comments{
    height: 200px;
    vertical-align: super;
}
::-webkit-input-placeholder { /* Chrome/Opera/Safari */
    color: #555;
  }

@media screen and (max-width: 1050px) {
.contact-box {
    font-size: 22px;
    padding: 10px;
    margin-top: 100px;
    margin-bottom: 100px;
    width: 70%;
    line-height: 55px;
}
.box{
    width: 90%;
}

input {
    margin-top: 15px;
    width: 100%;
    height: 40px;
}
.comments{
    padding-top: 10px;
}
}
@media screen and (max-width: 400px) {
    .contact-box {
        font-size: 22px;
        padding: 20px;
        margin-top: 100px;
        margin-bottom: 100px;
        width: 300px;
        line-height: 29px;
    }
    .box{
        width: 90%;
    }
    
    input {
        width: 100%;
        height: 30px;
    }
    .comments{
        padding-top: 10px;
    }
    }