.contact-box{
    font-size: 28px;
    font-weight: 222;
    line-height: 1;
    margin: auto;
    width: 60%;
    padding-top: 100px;
    padding-bottom: 77px;
    color: #396E8F;
    font-family: 'Courier New', Courier, monospace;
}

.box {
    background-color: #396E8F;
    width: 40%;
    margin: auto;
    display: flex;
    flex-wrap: wrap;
    border-radius: 24px;
    margin-bottom: 77px;
    padding: 22px;
}

input{
    width: 100%;
    text-align: center;
    margin-left: auto;
    margin-right: auto;
    margin-top: 30px;
    border-radius: 22px;
    padding: 12px;
    border: none;
}

.submit{
    width: 70px;
    height: 40px;
    padding: 10px;
    background-color: white;
    color: black;
    border: none;
}
.submit:hover {
    background-color: black;
    color: white;
}

.comments{
    height: 200px;
}

@media screen and (max-width: 1050px) {
.contact-box {
    font-size: 22px;
    font-weight: 200;
    padding: 10px;
    margin-top: 70px;
    margin-bottom: 100px;
    width: 70%;
    line-height: 29px;
}
.box{
    width: 60%;
}

input {
    margin-top: 15px;
    width: 100%;
    height: 40px;
}
.comments{
    padding-top: 10px;
}
}
@media screen and (max-width: 400px) {
    .contact-box {
        font-size: 22px;
        font-weight: 200;
        padding: 20px;
        margin-top: 100px;
        margin-bottom: 100px;
        width: 300px;
        line-height: 29px;
    }
    .box{
        width: 90%;
    }
    
    input {
        width: 100%;
        height: 30px;
    }
    .comments{
        padding-top: 10px;
    }
    }