.header1 {
    background-color: white;
    color: #396E8F;
    text-align: center;
    font-size: 20px;
    font-weight: 200;
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    letter-spacing: 1px;
}