body {
	min-height: 100vh;
	background-color: white;
}

.container {
	max-width: 100rem;
	margin: 0 auto;
	padding: 0 2rem 2rem;
}

.website-icon{
	width:30px;
	margin: 40px;
}
.heading {
	font-size: 28px;
    font-weight: 300;
    padding-bottom: 100px;
    padding-top: 40px;
	text-align: center;
	margin-top: 100px;
}
#modal{
	background-color: white;
}

.heading span {
	display: block;
}

.project {
	display: flex;
	flex-wrap: wrap;
	margin: -1rem -1rem;
	padding: 20px;
}

.project-item {
	flex: 1 0 24rem;
	margin: 1rem;
	overflow: hidden;
	padding: 10px;
}
p{
    display: flex;
    flex-wrap: wrap;
    text-align: center;
    padding: 50px;
}
.project-image {
	display: block;
    height: 222px;
    text-align: center;
    font-size: 22px;
    letter-spacing: 1px;
    font-weight: 200;
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    background-color: #50b3c471;
    padding-top: 20px;
    padding-bottom: 20px;
    border-radius: 2px;
	transition: transform 700ms ease-out;
}

.project-image:hover {
	transform: scale(1.07);
}
.more-text {
    text-align: center;
    font-size: 20px;
    padding-top: 55px;
    padding-bottom: 50px;
    width: 100%;
    font-family: 'Courier New', Courier, monospace;
}

@supports (display: grid) {
	.project {
		display: grid;
		grid-template-columns: repeat(auto-fit, minmax(24rem, 1fr));
		grid-gap: 2rem;
	}

	.project,
	.project-item {
		margin: 0;
	}
}
