.learn-more{
    width: 155px !important;
    border-radius: 44px;
    margin: auto;
    padding-top: 10px;
    font-size: 18px;
    height: 50px;
    cursor: pointer;
    background: linear-gradient(to right, #0C5667, #51B0BD);
    font-weight: 300;
}

h4{
    text-align: center;
    padding-bottom: 22px;
}

.modal-content{
    height: 499px;
}

.modal-header {
    height: 60px;
}

.modal-button{
    height: 50px;
    width: 111px;
    background-color: #4FADB9;
    text-transform: uppercase;
    font-size: 14px;
    margin-top: 0px;
    border: none;
}

.modal-button:hover {
    background: linear-gradient(to right, #0C5667, #51B0BD)
}

.modal-footer {
    height: 77px;
}

@media screen and (max-width: 800px){
	.modal-content{
        height: 700px;
    }
    .modal-p{
        width: 90% !important;
        margin: 0px;
        padding: 0px;
        margin-top: 40px;
    }
  }