body {
	min-height: 100vh;
	background-color: white;
	width: 100%;
}

.container {
	max-width: 100rem;
	margin: 0 auto;
	padding: 0 2rem 2rem;
}

.website-icon{
	width: 30px;
	padding-bottom: 50px;
	text-align: center;
}
.heading {
	margin-top: 177px;
	margin-bottom: 27px;
	font-size: 28px;
	font-weight: 300;
    line-height: 55px;
    padding-bottom: 100px;
    padding-top: 40px;
	text-align: center;
}
#modal{
	background-color: white;
}
.modal-pic{
	width: 200px;
}
.heading span {
	display: block;
}
p{
    display: flex;
    flex-wrap: wrap;
    text-align: center;
    padding: 50px;
}
.heading-tip{
	font-size: 20px;
}
.project {
	display: flex;
	height: 90vh;
	flex-wrap: wrap;
	margin: -1rem -1rem;
	padding: 20px;
}
.modal-description{
	flex: 1 10 auto;
	width: 100%;
}
.ui.modal>.content>.description{
	flex: 1 10 auto;
}
.project-item {
	flex: 1 0 24rem;
	margin: 1rem;
	overflow: hidden;
	padding: 10px;
}

.project-image {
	display: block;
	width: 100%;
	height: 230px;
	object-fit: cover;
	transition: transform 400ms ease-out;
}

.project-image:hover {
	transform: scale(1.15);
}

@supports (display: grid) {
	.project {
		display: grid;
		grid-template-columns: repeat(auto-fit, minmax(24rem, 1fr));
		grid-gap: 2rem;
	}

	.project,
	.project-item {
		margin: 0;
	}
}

@media screen and (max-width: 800px){
	.project {
		height: 777px;
		}
	} 
