

.icon {
    color: rgb(255, 255, 255);
    width:50px ;
    padding: 10px;
}

.text-area {
    font-size: 27px;
    font-weight: 200;
    padding: 20px;
    line-height: 27px;
}

.text-area2 {
    font-size: 27px;
    font-weight: 200;
    padding: 20px;
    line-height: 27px;
    float: right;
    justify-content: flex-end;
}

@media screen and (max-width: 800px){
.text-area{
    line-height: 44px;
    width: 50%;
    font-size: 22px;
}
.text-area2{
    line-height: 44px;
    width: 50%;
    margin: auto;
    padding: 0px;
    font-size: 22px;
}
.footer {
    padding-top: 27px;
    height: 277px;
    }
} 

  