.footer {
    width: 100%;
    display: flex;
    background-color: #1a1a1a;
    text-align: center;
    margin-right: 20px;
    color: rgb(255, 255, 255);
    padding-top: 10px;
}

.icon {
    color: rgb(255, 255, 255);
    width:50px;
    padding: 10px;
}

.text-area {
    font-size: 30px;
    font-weight: 200;
    padding: 20px;
    line-height: 27px;
}

.text-area2 {
    font-size: 14px;
    font-weight: 200;
    padding: 20px;
    line-height: 27px;
    float: right;
    justify-content: flex-end;
}

@media screen and (max-width: 800px){

.footer {
    padding-top: 27px;
    height: 222px;
}
} 

  