.footer {
    height: 110px;
    width: 100%;
    display: flex;
    background-color: #2A1C33;
    text-align: center;
    margin-right: 20px;
    color: #396E8F;
    padding-top: 10px;
}

.icon {
    color: #396E8F;
    width:50px;
    padding: 10px;
}

.text-area {
    font-size: 30px;
    font-weight: 200;
    padding: 20px;
    line-height: 27px;
}

.text-area2 {
    font-size: 14px;
    font-weight: 200;
    padding: 20px;
    line-height: 27px;
    float: right;
    justify-content: flex-end;
}

@media screen and (max-width: 800px){

.footer {
    padding-top: 27px;
    height: 222px;
}
} 

  