html, body {
    margin: 0;
    padding: 0;
}
a{
 color: #50B0BD;
}
.app {
    width: 100% !important;
    margin: 0px;
}
button{
  width: 65px;
  border-radius: 100px !important;
}
.nav-menu {
  display: flex;
}

.header {
    height: 70px;
    width: 100%;
    display: flex;
    justify-content: space-between;
    text-align: center;
    .options {
      width: 100px;
      display: flex;
      align-items: center;
      justify-content: flex-end;
      .option {
        text-decoration: none;
        text-align: center;
      }
    }
  }

  @media screen and (max-width: 800px){
    .options {
      width: 100%;
      display: none;
        .option{
          display: none;
          padding-bottom: 20px;
      }
      .option, .icon {
        display: none;
      }
    }
    .icons {
      color: #50B0BD;
    }
    // @media screen and (max-width: 800px){
    //   button{
    //     width: 55px;
    //     height: 28px;
    //     margin-top: -10px;
    //     border-radius: 100px !important;
    //   }
    //   .svg{
    //     display: none;
    //   }
    // }
  }