html, body {
    margin: 0;
    padding: 0;
}
a{
 color: #50B0BD;
}
.app {
    width: 100% !important;
    margin: 0px;
}
.icons{
  width: 20px;
  margin-right: 12px;
  margin-top: 5px;
  color: #777;
}
button{
  width: 65px;
  height: 38px;
  border-radius: 100px !important;
}
.svg{
  width: 32px;
  margin-left: -6.5px;
  margin-top: -2px;
}
.nav-menu {
  display: flex;
}
.fad {
color: #222222;
padding: 5px;
width: 10px;
}

.header {
    height: 70px;
    width: 100%;
    display: flex;
    justify-content: space-between;
    text-align: center;
    .options {
      width: 100px;
      display: flex;
      align-items: center;
      justify-content: flex-end;
      .option {
        text-decoration: none;
        text-align: center;
      }
    }
  }

  @media screen and (max-width: 800px){
    .options {
      width: 100%;
      display: none;
        .option{
          display: none;
          padding-bottom: 20px;
      }
      .option, .icon {
        display: none;
      }
    }
    .icons {
      color: #50B0BD;
    }
    @media screen and (max-width: 350px){
      button{
        width: 55px;
        height: 30px;
        border-radius: 100px !important;
      }
      .svg{
        width: 24px;
        margin-left: -7.5px;
        margin-top: -8px;
      }
    }
  }