.app {
    width: 100%;
}

button{
width: 15%;
height: 50px;
margin-top: 15px;
margin-left: 100px;
border-radius: 100px !important;
}

.button-wrapper{
  margin: auto; 
}

.svg{
width: 20px;
margin-right: 10px;
}

@media screen and (max-width: 800px){
    button {
        width: 49px;
        margin-top: 5px;
        margin-left: 10px;
    }
.button-text{
    display: none;
    }
    .app{
    width: 100%;
    margin: 0px;
    }
}